h1{
	font-size: 18px; 
	position: relative; 
	color: #000000; 
	text-align: left;
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 15px;
	margin-right: 15px;
}
h2{
	font-size: 16px ;
	position: relative; 
	color: #000000;
	text-align: left;
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 10px;
	margin-top: 23px;
	margin-bottom: 10px;
	margin-left: 15px;
	margin-right: 15px;
}
.display{
	display: inline;
	width: 300px;
	height: 200px;
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 15px;
	margin-right: 15px;
	border: 5px green;
	border-top: solid green;
	border-right-style: dashed;
	border-left-style: dashed;
}
.float {
	width: 600px; /* Ширина контента */
	height: 500px;/* Высота контента */
	margin: 24px;/* Значение отступов */
	padding: 10px; /* Поля вокруг текста */
}
.leftimg {
	float: left; /* Выравнивание по левому краю */
	margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
}
.rightimg {
	float: right; /* Выравнивание по правому краю */ 
	margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
}